.container {
    background: #fe762c;
    padding: 50px;

    #post {
        padding: 50px;
        width: 800px;
        background: white;
        border-radius: 15px;
        margin: auto;
        font-family: "Bookman";
        font-size: 20px;
    }
}