$width: 400px;
$font-family: "Bookman";
$margin-left: 50px;
.container {
    display: flex;
    min-height: 66vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #fe762c;
    font-family: $font-family;
    margin-top: 10px;


    .container-form-login {
        width: 100%;
        max-width: $width;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
    }

    #logo {
        width: $width;
        margin-right: 200px;
    }

    .button-login {
        text-align: center;
    }

    .email-login {
        margin-top: 20px;
    }

    .login-label {
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
    }

    .email-login, .password, .login-form-button {
        width: 300px;
        text-align: center;
        font-size: 18px;
    }

    .email-login, .password {
        .ant-input-affix-wrapper {
            height: 40px;
        }
    }

    .login-form-button {
        height: 40px;
    }

    .ant-form-item-explain-error, .login-form-forgot, .ant-input-affix-wrapper {
        margin-left: $margin-left;
    }
    .link-to-register {
        text-align: center;
    }
}

#components-form-demo-normal-login .login-form {
    width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}
