$header-height: 64px;
$button-height: 35px;
$button-width: 150px;

.left-sider {
  display: flex;
  flex-direction: column !important;
  padding-left: 10px;
  margin-top: $header-height;
}

.manager-post-container {
  display: flex;
  flex-direction: row;
  .extension-button {
    margin: 10px;
    width: $button-width;
    height: $button-height;
  }
  .slide-post-status {
    width: 720px;
  }

  .post-home-container {
    width: 1000px;
  }
}
